# Configuración del entorno de Limpieza RAG
LOG_LEVEL=INFO
ENVIRONMENT=local

# Rutas principales (relativas a la raíz del proyecto)
BASE_DATA_DIR=./data

# Configuración de Hardware
# Ajusta según los hilos de tu CPU para procesamiento paralelo (OCR/Docling)
MAX_WORKERS=4

# Configuración de Tesseract (Ajustar si estás en Windows, en Linux/Mac usualmente no se requiere)
# TESSERACT_CMD_PATH=C:\Program Files\Tesseract-OCR\tesseract.exe